body{
	background-color: #040B11;
	text-align: center;
	font-family: "Roboto Mono", sans-serif;
	color: #fff;
	justify-content: center;
    	align-items: center;
    	height: 100vh;
    	display: flex;
}

#intro{
	margin: auto;
	width: 50%;
}

#bio{
	font-size:20px;
}

#avatar{
	width:200px;
	height: auto;
	object-fit: cover;
	border-radius:50%;
}


#links {
	margin-top: 20px;
}

#links a {
	color: #4fc3f7;
	text-decoration: none;
	margin: 0 10px;
	font-size: 16px;
}

#links a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
  #avatar {
    width: 50%;
  }

  #intro{
	  width:85%;
  }

}
